.startDiv {
    justify-content: center;
    display: flex;
  }
  
  .startButton {
    width: 100px;
    height: 100px;
    background-color:green;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif
  }
 

  .discard {
    /* width: 116px;
    height: 178px; */
    width: 60px;
    height: 80px;
    display: flex;
      float: left;
      background: white;
      
      border-radius: 5px;
      display: table;
      box-sizing: border-box;
      padding: 5px;
      margin: 10px;
      position: relative;
      border: 2px solid black;
  }
  
  .boardContainer {
    display: flex;  
    justify-content: center;
    max-height: 100%;
    min-width: 50%;
    
    /* margin-top: 150px; */
  }
/* 
  .drawContainer {
    max-height: 100px;
    margin: auto;
  }

  .discardContainer {
    max-height: 100px;
    margin: auto;
  } */
  
  .cardback {
    /* width: 81px;
    height: 125px; */
    width: 116px;
    height: 178px;
    float: left;
    background: black;
  
    border-radius: 5px;
    /* display: table; */
    background: url(https://i.ibb.co/G7mPBRw/uno140.jpg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 90px 40px;
    padding: 5px;
    margin: 10px;
    position: relative;
    /* padding: 2px solid black; */
    border: 2px solid white;
    
  }
  
  .logo {
    margin-top: 45px;
  }
  

  .text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .quitGame {
    height: 48px;
  }

  .right-area {
    display: column;
  }

  .color-area {
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
  }

  .color-box {
    width: 40px;
    height: 57px;
    margin: 2px;
    border-radius: 5px
  }

  .thebigthree {
    display: flex;
    justify-content: space-evenly;
  }

  .alert {
    width: 150px;
  }

  .thing {
    padding-top: 100%;
    background: url(https://i.ibb.co/Swt80hJ/uno-tiny.jpg);
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: cover;
  }