.startDiv {
  justify-content: center;
  display: flex;
}

.startButton {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.boardContainer {
  display: flex;
  justify-content: center;
  max-height: 100%;
  min-width: 50%;

  /* margin-top: 150px; */
}

.drawContainer {
  display: flex;
}

.discardContainer {
  display: flex;
}


.discard {
  /* aspect-ratio: 16/9; */
  height: 15vh;
  width: 10vh;
  display: flex;
  float: left;
  background: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  margin: 10px;
  position: relative;
  border: 2px solid black;
}


/* display: table; */
/* width: 116px;
  height: 178px; */
/* width: 60px;
height: 80px; */


.cardback {
  height: 15vh;
  width: 10vh;
  float: left;
  flex-grow: 2;
  background: black;
  border-radius: 5px;
  background: url(https://i.ibb.co/6t4vgbM/unoblack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 5px;
  margin: 10px;
  position: relative;
  border: 2px solid white;
}

/* width: 660px;
height: 80px; */
/* display: table; */
/* background-size: 90px 40px; */
/* padding: 2px solid black; */
/* width: 116px;
height: 178px; */

.logo {
  margin-top: 45px;
}

.text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.quitGame {
  height: 48px;
}

.right-area {
  display: column;
}

.color-area {
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
}

.color-box {
  width: 40px;
  height: 57px;
  margin: 2px;
  border-radius: 5px;
}

.conditionalContainer {
  display: flex;
  justify-content: space-evenly;
}

.alert {
  width: 150px;
}

.thing {
  padding-top: 100%;
  background: url(https://i.ibb.co/Swt80hJ/uno-tiny.jpg);
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: cover;
}
